<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean name="add" class="spring.core.entity.Address">
		<property name="city" value="Noida" />
		<property name="state" value="UP" />
	</bean>

	<bean id="emp" class="spring.core.entity.Employee">
		<property name="id" value="101" />  <!-- property tag will create a bean by calling setters -->
		<property name="name" value="Ansh" />
		<property name="gender" value="Male" />
		<property name="address" ref="add" />
	</bean>


	<!-- <bean id="emp2" class="spring.core.entity.Employee"> <constructor-arg 
		name="id" value="102" type="int"/> <constructor-arg name="name" value="Vikas"/> 
		<constructor-arg name="gender" value="Male"/> </bean> -->
</beans>